<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./crypto.css">
    <link rel="stylesheet" href="./navbar2.css">
    <link rel="stylesheet" href="./form.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | EliteFxtraders.US</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <span href="#" class="nav-logo">EliteFxtraders.US</span>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="crypto.html" class="nav-link" id="active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="plan.html" class="nav-link">Plan</a>
                </li>
                <li class="nav-item">
                    <a href="#2" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="3" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#4" class="nav-link">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#1" class="nav-link">Contact</a>
                </li>
                <div class="controls">
                    <a href="/steve_invest_signup.html">
                        <button id="sign_in" class="sign_in">Sign Up</button>
                    </a>
                    <button class="open-button" onclick="openForm()">Log in</button>
                    </div>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>

            </div>
        </nav>
</header>
<article class="art1">
<h1>
        Buy & Sell Digital Assets <br> With <span id="root" class="logo_a">EliteFxtraders.US</span>
        <div class="h_para">
            At <span id="root">EliteFxtraders</span>, we provide you with cutting-edge tools, insights, and resources to navigate the dynamic world of cryptocurrency.
            <br> Whether you’re a beginner or an experienced trader, our platform is designed to 
            help you make informed decisions and maximize your investment potential.
        </div>
        <a href="/steve_invest_signup.html">
        <button class="get_start">Get Started</button>
    </a>
    </h1>
    </article>
    <article class="art2">
 
        <span class="features">
        <h1 class="feat">
            Our Features
        </h1>
        <div class="tiles">
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-lightning-light"></i>
                    <h3>
                        <span></span>
                        <span>Market Updates</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-fire-simple-light"></i>
                    <h3>
                        <span></span>
                        <span>Current coin prices  %</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>
            <article class="tile">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>
        </div>
        </span>
    </article>
    
    <article class="art3">
        <h1>Why Invest With Us?</h1>
        <div class="tiles">
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-lightning-light"></i>
                    <h3>
                        <span></span>
                        <span>Market Updates</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-fire-simple-light"></i>
                    <h3>
                        <span></span>
                        <span>Current coin prices  %</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>
            

        </div>
    </article>


    <article class="art4">
        <h1>Why What Our Investors Say About Us?</h1>
        <div class="tiles">
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-lightning-light"></i>
                    <h3>
                        <span></span>
                        <span>Market Updates</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-fire-simple-light"></i>
                    <h3>
                        <span></span>
                        <span>Current coin prices  %</span>
                    </h3>
                </div>
                    
            </article>
            <article class="tile1">
                <div class="tile-header">
                    <i class="ph-file-light"></i>
                    <h3>
                        <span></span>
                        <span>Trading Platform</span>
                    </h3>
                </div>
    
            </article>

        </div>
    </article>

    
    <footer>
        <div class="company" id="f">
        <b>Company</b><br>FAQs<br>Contact Us<br>Terms and Conditions<br>Privacy Statement<br>
        </div>
        <div class="products" id="f">
            <b>Products</b><br>Stock Trading<br>Money Market Fund<br>Education Trust
        </div>
        <div class="research" id="f">
            <b>Research</b><br>Market News<br>Pan African Monitor   <br>Education Trust
        </div>
        <div class="icons">
        <img src="/Elon Musk on X.jpg" alt="">
        <img src="6 Ways to Grow Your Facebook Page Audience.jpg" alt="">
        <img src="10 Surprising Ways to Use Instagram in the Classroom - We Are Teachers.jpg" alt="">
    </div>
    </footer>
</body>
<script src="steve_invest.js"></script>

<div class="form-popup" id="myForm">
    <form action="action_page.php" class="form-container">
<h2>
    <div class="hamburger1" onclick="closeForm()">
        <span class="bar1"></span>
        <span class="bar1"></span>
        <span class="bar1"></span>
       </div>
           <div class="logo">EliteFxtraders</div>

            Login
</h2>
            <div class="close"></div>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter password" name="psw" required>
        <button type="submit" class="btn">Login</button>
        <!--button type="button" class="btn-cancel" onclick="closeForm()">Close</button-->
        <span class="form_notice">
        Don't have an account. <a href="./steve_invest_signup.html" class="form_signin">Sign up here</a>
            </span>
    </form>
</div>
</html>
