<!DOCTYPE html>
<html lang="en">
<head>
<style>

</style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./payment.css"> 
    <link rel="stylesheet" href="./navbar3.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <span class="nav-logo">EliteFxtraders.US</span>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="crypto.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="plan.html" class="nav-link">Plan</a>
                </li>
                <li class="nav-item">
                    <a href="#2" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="./Blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="./faqs.html" class="nav-link" id="active">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#1" class="nav-link">Contact</a>
                </li>
                <div class="controls">
                    <a href="/steve_invest_signup.html">
                        <button id="sign_in" class="sign_in">Sign Up</button>
                    </a>
                    <button class="open-button" onclick="openForm()">Log in</button>
                    </div>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>

            </div>
        </nav>
</header>

<div class="pay">
    <div class="pay_sub">
    <span>&#xf53 Online Payments</span>
    <span>&#xf40 Offline Wire-Transfer</span>
</div>
<span class="acc">Account: 877649291 USD EliteTrader5</span>
<div class="h4">Choose Payment Method</div>

<div class="tiles">
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
    <div class="tile"></div>
</div>
</div>
<script src="steve_invest.js"></script>
</body>
</html>